/*---------Variables-----------*/

/*------------Body-------------*/

/*-----------Navbar------------*/

.sidebar {
    height: 100vh;
}

/* Mobile */
@media (max-width: 450px) {
    .sidebar {
        display: none;
    }
    .top-navbar {
        display: flex;
    }
}

/* Desktop */
@media (min-width: 451px) {
    .sidebar {
        display: flex;
    }
    .top-navbar {
        display: flex;
    }
}